
.custom-input {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    max-width: 160px; /* Establece un ancho máximo */
    height: 40px; /* Ajusta la altura del campo */
    font-size: 16px; /* Ajusta el tamaño de la fuente */
}


