/* General styles */
html, body {
    height: 100%; /* Asegura que el body ocupe toda la altura del viewport */
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); /* Fondo degradado */
    background-size: cover; /* Asegura que el degradado cubra toda el área del fondo */
    background-position: center; /* Centra el degradado */
}

/* Container for the main content */
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro translúcido */
    padding: 30px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Sombra */
    color: white; /* Texto en blanco */
}

/* Title styles */
.title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Description styles */
.description {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
    color: #cccccc;
}

/* Input group styles */
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff; /* Color del texto de la etiqueta */
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Submit button styles */
.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #6200ea; /* Color de fondo del botón */
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #3700b3; /* Color de fondo al pasar el cursor */
}

/* Admin button styles */
.admin-button {
    display: block;
    width: 100px;
    margin: 0 0 20px 0; /* Ajusta el margen superior para mover el botón hacia arriba */
    padding: 10px;
    background-color: #3f3cff; /* Color de fondo del botón Admin */
    color: white;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
     float: left; /* Alinea el botón a la izquierda */
}

.admin-button:hover {
    background-color: #3700b3; /* Color de fondo al pasar el cursor */
}

/* Error message styles */
.alert {
    font-size: 14px;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.alert-danger {
    background-color: #dc3545;
}
